/*

Template: Sofbox - Responsive Software Landing Page
Author: iqonicthemes.in
Version: 3.0
Design and Developed by: iqonicthemes.in

NOTE: This file contains the styling for responsive Template.

*/

/*****************
================================================
 (  Media Queries  )
================================================
 *******************/
@media(min-width:1601px) { }
@media(max-width:1399px) {
	
}
@media(max-width:1365px) {
	
}
@media(max-width:1199px) {

}
@media (max-width: 991px){
    .logo>img{
        max-width: 100px;
    }
    .logo .site-title{
        font-size: 18px;
    }
}
@media(max-width:991px) {
	.menu-container .nav-item:first-of-type .nav-link {
		padding-left: 21px !important;
	}

	a.nav-link {
		border-bottom: 1px solid #bbb6b6;
	}
	.custom-font-awesome-class {
		font-size: 1.5em !important;
		padding-right: 10px;
	}
	.custom-phone-div .phone-text+h4{
		font-size: 1rem;
	}
}
@media(max-width:979px) {
	
}
@media(max-width:767px) {

	/*----------------
	Section padding 
	----------------*/
	.notice-area{
		position: relative;
	}
	.important-link-area{
		position: relative;
	}

	.featured-image .my-img {
		height: auto;
	}

	.menu-container, .menu-container .navbar {
		background-color: #e1e1e6 !important;
	}

	.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
		font-size: 16px;
	}

	.event-link-text {
		font-size: 16px;
	}

	/* .search-box {
		display: none !important;
	} */
}
@media(max-width:479px) {
	
}